/* Box Model Hack */
* {
     box-sizing: border-box;
}

html{
     font-size: 62.5%;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
     font-family: 'Roboto', sans-serif;
     /* background-color: rgba(18,18,18,255); */

     background: rgb(34,36,48);
background: linear-gradient(180deg, rgba(34,36,48,1) 0%, rgba(23,23,26,1) 100%);
}

a{
 color: white;
 text-decoration: none;
 font-size: 2rem;    
}

h1{
     padding: 0;
     margin: 0;
     font-size: 3rem;
     letter-spacing: 0.2rem;
     text-align: center;
    margin-left: 5rem;
}

h1:hover{
     color: lightgray;
}

h2 {
     color: lightgray;
}

span{
     color: white;
}

/* Triple section (trending, top movers, tbd) */



.tripleWrapper{
     padding-top: 10rem;
     display: flex;
     justify-content: center;
     gap: 5rem;
}

.trendingTitle{
     font-size: 2rem;
     text-align: center;
     
}

.tripleContainers{
     height: 175px;
     width: 400px;
     padding: 2rem;
     border: 1px solid yellow;
     border-radius: 10px;
     gap: 1rem;
     display: flex;
     flex-direction: column;
}

.trendingContainer{
     display: flex;
     gap: 30px;
     font-size: 2rem;
     /* justify-content: space-around; */
     /* border: 1px solid red; */
}


/* Table  */
tr{
     border-bottom:  1px solid rgb(181, 178, 178);
     border-top: 1px solid rgb(181, 178, 178);
     height: 50px;
}





table{
     margin: 0 auto;
     width: 1200px;
}

table, th, td, tr {
     vertical-align: middle;
     color: rgba(122,133,130,255);
     width: 1300px;

}



table, th, td{
     font-size: 1.7rem;
}



.signInBtn{
     margin-right: 5rem;
     border: 3px solid white;
     padding: 1.25rem 2rem 1.25rem 2rem;
     display: block;
     border-radius: 12px;
}
.signInBtn:hover{
     color: black;
     background-color: white;
     /* border-color: rgb(10, 102, 251); */
}


 /* header */



.logoContainer{
     display: flex;
     flex-direction: column;
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;     
     color: white;
     background-color: rgb(23, 24, 25);
}

.headerItemContainer{
     margin: 0 auto;
     width: 1400px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}


/* table */



.tableHeading{
     text-align: left;
     height: 75px;

}

.tableContainer{
     padding-top: 10rem;
     height: 1000px;
}
