/* Box Model Hack */
* {
     box-sizing: border-box;
}

html{
     font-size: 62.5%;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
     font-family: 'Roboto', sans-serif;
     /* background-color: rgba(18,18,18,255); */

     background: rgb(34,36,48);
background: linear-gradient(180deg, rgba(34,36,48,1) 0%, rgba(23,23,26,1) 100%);
}

a{
 color: white;
 text-decoration: none;
 font-size: 2rem;    
}

h1{
     padding: 0;
     margin: 0;
     font-size: 3rem;
     letter-spacing: 0.2rem;
     text-align: center;
    margin-left: 5rem;
}

h1:hover{
     color: lightgray;
}

h2 {
     color: lightgray;
}

span{
     color: white;
}

/* Triple section (trending, top movers, tbd) */



.tripleWrapper{
     padding-top: 10rem;
     display: flex;
     justify-content: center;
     gap: 5rem;
}

h2.trendingTitle,
h2.trustedTitle{
     font-size: 2rem;
     text-align: center;
     color: rgb(9, 254, 99);
     
}

.tripleContainers{
     height: 250px;
     width: 400px;
     padding: 2rem;
     border: 10px solid rgb(10, 19, 21);
     outline: 1px solid rgb(95, 160, 160);
     border-radius: 10px;
     gap: 1rem;
     display: flex;
     flex-direction: column;
}

.trendingContainer,
.trustedContainer{
     display: flex;
     gap: 30px;
     font-size: 2rem;
     /* justify-content: space-around; */
     /* border: 1px solid red; */
}

#trustedIconOne,
#trustedIconTwo,
#trustedIconThree{
     height: 25px;
     width: 25px;
}


/* Table  */
tr{
     border-bottom:  1px solid rgb(181, 178, 178);
     border-top: 1px solid rgb(181, 178, 178);
     height: 50px;
    
}

th.price:hover{
     cursor: pointer;
     
}



table{
     margin: 0 auto;
     width: 1200px;
}

table, th, td, tr {
     vertical-align: middle;
     color: rgb(194, 192, 192);
     width: 1300px;

}



table, th, td{
     font-size: 1.7rem;
}




.tableHeading{
     text-align: left;
     height: 75px;

}

tr:hover{
     background-color: rgb(77, 80, 101);
     color: white;
}

.tableHead {
     font-weight: bold;
     color: rgb(251, 251, 251);
}

.tableContainer{
     padding-top: 10rem;
     height: 1000px;
}

.tableSymbol{
     height: 30px;
     width: 30px;
     align-items: center;
     text-align: center;
}



 /* header */



.logoContainer{
     display: flex;
     flex-direction: column;
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;     
     color: white;
     background-color: rgb(23, 24, 25);
}

.headerItemContainer{
     margin: 0 auto;
     width: 1400px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.signInBtn{
     margin-right: 5rem;
     border: 3px solid white;
     padding: 1.25rem 2rem 1.25rem 2rem;
     display: block;
     border-radius: 12px;
}
.signInBtn:hover{
     color: black;
     background-color: white;
     /* border-color: rgb(10, 102, 251); */
}




/* table */



