
<header>
    <div class="headerItemContainer">
        <a href="#">
            <h1>ClearCoin</h1>
        </a>
        <div class="nav-button-container">
            <a href="/" class="signInBtn">Home</a>
            <a href="/portfolio" class="signInBtn">Portfolio</a>
            <a href="/news" class="signInBtn">News</a>
            <a href="/about" class="signInBtn">About</a>
            <% if(!user){ %>
				<a href="/login" class="signInBtn">Log in</a>
				<a href="/signup" class="signInBtn">Sign up</a>
			<% }else { %>
				<a href="/logout" class="signInBtn">Log out</a>
			<% } %>
        </div>
    </div>
</header>