<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <title>About</title>
</head>

<body>

    <header>
        <div class="headerItemContainer">
            <a href="#">
                <h1>ClearCoin</h1>
            </a>
            <div class="nav-button-container">
                <a href="/" class="signInBtn">Home</a>
                <a href="/portfolio" class="signInBtn">Portfolio</a>
                <a href="#" class="signInBtn">Sign In</a>
            </div>
        </div>
    </header>

    <section class="aboutContainer">
       
        <!-- <img class="aboutChartImg" src="/assets/candlestickchart.png" alt=""> -->
        <div class="aboutContentContainer">
            <h1 id="aboutHeading">About Us</h1>
            <p>ClearCoin is a cryptocurrency price tracking application with the mission of bringing crypto to the
                attention of an audience that has not yet stepped into the world of cryptocurrency. A lot of
                cryptocurrency price trackers are entirely overwhelming at first glance and are not very efficient when
                it comes to load times. ClearCoin aims to solve this issue.</p>
            <p>To solve this, I have created an application that is minimalistic, yet interactive and allows a user to
                check the current market values of all of the top cryptocurrencies, without all of the overwhelming
                tickers.</p>
            <p>The average user is willing to wait about 2-3 seconds for a page to load which is why ClearCoin uses
                lightweight technology that allows faster load times, while still providing in-depth features such as
                the portfolio tracker and currency converter.</p>
        </div>
        <img class="aboutChartImg" src="/assets/cdlstick2.png" alt="">
    </section>




</body>
<script src="js/news.js"></script>

</html>