<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your VERY OWN Todolist!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">

	<title>Clear Coin</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/tablesort.css">
</head>

<body>
	<!-- moving carousel from coinlib -->
	<div style="height:40px; padding:0px; margin:0px; width: 100%;"><iframe
			src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover="
			width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0"
			style="border:0;margin:0;padding:0;"></iframe></div>

<!-- 
	<header>
		<div class="headerItemContainer">
			<a href="#">
				<h1>ClearCoin</h1>
			</a>
			<div class="nav-button-container">
				<a href="/news" class="signInBtn">News</a>
				<a href="/portfolio" class="signInBtn">Portfolio</a>
				<% if(!user){ %>
				<a href="/login" class="signInBtn">Log in</a>
				<a href="/signup" class="signInBtn">Sign up</a>
				<% }else { %>
					<a href="/logout" class="signInBtn">Log out</a>
					<% } %>
				<a href="/about" class="signInBtn">About</a>
			</div>
			<div id="hamburgerContainer" class="closedHamburger">
				<nav class="hamburgerMenuNav invisible">
					<a href="">News</a>
					<a href="">Portfolio</a>
					<a href="">Sign In</a>
					<a href="">About</a>
				</nav>
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header> -->

	<%- include("partials/header") -%>



	<section class="tripleSectionAndGlobalCurrencyData">
		<div class="globalCurrencyDataContainer">
			<h2>Hello<%= user ? ` ${user.userName}`:''%>, here is today's Cryptocurrency market cap</h2>
					<p>The global crypto market cap is <span id="globalMarketCap"></span>, which is a <span
							id="globalPercChange24Hr"></span> <span id="incOrDec"></span> over the last 24 hours.</p>
					<span id="globalDataUpdateTime">Updated at 11:07:46</span>
		</div>

		<!-- Triple section above price table -->
		<section class="tripleWrapper">



			<!-- Trending -->
			<div class="tripleContainers">
				<h2 class="trendingTitle">Trending Currencies</h2>
				<div class="trendingContainer trendingOneContainer">
					<span>1</span>
					<img id="trendingIconOne" src="" alt="">
					<span class="trendingHeading" id="trendingNameOne"></span>
					<span id="trendingSymbolOne"></span>
				</div>
				<div class="trendingContainer trendingTwoContainer">
					<span>2</span>
					<img id="trendingIconTwo" src="" alt="">
					<span class="trendingHeading" id="trendingNameTwo"></span>
					<span id="trendingSymbolTwo"></span>
				</div>
				<div class="trendingContainer trendingThreeContainer"><span>3</span>
					<img id="trendingIconThree" src="" alt="">
					<span class="trendingHeading" id="trendingNameThree"></span>
					<span id="trendingSymbolThree"></span>
				</div>
			</div>

			<!-- Top Movers -->
			<!-- <div class="tripleContainers topMoversContainer">
			<h2>Top Movers</h2>
		</div> -->

			<!-- Trusted Exchanges -->
			<div class="tripleContainers">
				<h2 class="trustedTitle">Top Exchanges by Volume</h2>
				<div class="trustedContainer trustedOneContainer">
					<span>1</span>
					<img id="trustedIconOne" src="" alt="">
					<span class="trustedHeading" id="trustedNameOne"></span>
					<span id="trustedSymbolOne"></span>
				</div>
				<div class="trustedContainer trustedOneContainer">
					<span>2</span>
					<img id="trustedIconTwo" src="" alt="">
					<span class="trustedHeading" id="trustedNameTwo"></span>
					<span id="trustedSymbolTwo"></span>
				</div>
				<div class="trustedContainer trustedOneContainer">
					<span>3</span>
					<img id="trustedIconThree" src="" alt="">
					<span class="trustedHeading" id="trustedNameThree"></span>
					<span id="trustedSymbolThree"></span>
				</div>
			</div>

			<div class="converterContainer tripleContainers">

				<!-- Crypto Converter ⚡ Widget -->
				<crypto-converter-widget id="cryptoConverterWidget" shadow symbol live background-color="#2A2E45"
					border-radius="0.27rem" fiat="united-states-dollar" crypto="bitcoin" amount="1" decimal-places="2">
				</crypto-converter-widget>
				<!-- /Crypto Converter ⚡ Widget -->
			</div>

		</section>
	</section>
	<!-- <section class="activeCurrenciesContainer">
		<h3 class="activeCurrencies">Current Active Currencies:</h3>
		<span id="activeCurrencyCount" class="activeCurrencies"></span>
	</section> -->


	<section class="tableContainer">
		<!-- <h4 id="sortBy">Click a heading to sort by a specific value</h4> -->
		<table class="myTable table is-narrow is-hoverable table table-sortable" id="leaderboard">
			<thead>
				<tr class="tableHeading">
					<th class="tableHead symb">Symb</th>
					<th class="tableHead name">Currency</th>
					<th class="tableHead price">Price(CAD)</th>
					<th class="tableHead marketCap">Market Cap(CAD)</th>
					<th class="tableHead circSupply">Circulating Supply</th>
					<th class="tableHead volume">24h Volume(CAD)</th>
					<th class="tableHead percentageChange24Hour">24h %</th>
				</tr>
			</thead>
			<tbody id="cryptocurrencies">

			</tbody>
		</table>
	</section>

	<footer class="footerContainer">
		<div class="footerLogoContainer">
			<h3>ClearCoin Logo</h3>
			<h3 id="footerCopySymbol">&copy; 2022 ClearCoin</h3>
		</div>
		<div class="footerLinksContainer">
			<nav class="footerLinks">
				<h4>Featured</h4>
				<a href="/">Crypto prices</a>
				<a href="/portfolio">Portfolio</a>
				<a href="/signup">Sign Up</a>
				<a href="/about">About</a>
			</nav>
			<nav class="footerLinks">
				<h4>Socials</h4>
				<a href="https://www.instagram.com/jarrdojack/">Instagram</a>
				<a href="https://twitter.com/jarrodmjack">Twitter</a>
				<a href="https://github.com/jarrodmjack">Github</a>
				<a href="https://www.linkedin.com/in/jarrod-jack-65472822a/">LinkedIn</a>
				<a href="#">Facebook</a>
			</nav>
		</div>
	</footer>

	<!-- <button class="addCoins">Add coins</button> -->
	<script src="js/hamburgermenu.js"></script>
	<script type="module" src="js/main.js"></script>
	<script src="js/tablesort.js"></script>
	<script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script>
</body>

</html>