<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">

	<title>Clear Coin</title>

	<!-- external CSS link -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/tablesort.css">
</head>

<body>

	<header>

		<div class="headerItemContainer">
			<a href="#">
				<h1>ClearCoin</h1>
			</a>
			<div class="nav-button-container">
				<a href="/portfolio" class="signInBtn">Portfolio</a>
				<a href="#" class="signInBtn">Sign In</a>
			</div>
		</div>
	</header>


	<!-- Triple section above price table -->
	<section class="tripleWrapper">

		<!-- Trending -->
		<div class="tripleContainers">
			<h2 class="trendingTitle">Trending</h2>
			<div class="trendingContainer trendingOneContainer">
				<span>1</span>
				<img id="trendingIconOne" src="" alt="">
				<span id="trendingNameOne"></span>
				<span id="trendingSymbolOne"></span>
			</div>
			<div class="trendingContainer trendingTwoContainer">
				<span>2</span>
				<img id="trendingIconTwo" src="" alt="">
				<span id="trendingNameTwo"></span>
				<span id="trendingSymbolTwo"></span>
			</div>
			<div class="trendingContainer trendingThreeContainer"><span>3</span>
				<img id="trendingIconThree" src="" alt="">
				<span id="trendingNameThree"></span>
				<span id="trendingSymbolThree"></span>
			</div>
		</div>

		<!-- Top Movers -->
		<div class="tripleContainers topMoversContainer">
			<h2>Top Movers</h2>
		</div>

		<!-- Trusted Exchanges -->
		<div class="tripleContainers">
			<h2 class="trustedTitle">Trusted Exchanges</h2>
			<div class="trustedContainer trustedOneContainer">
				<span>1</span>
				<img id="trustedIconOne" src="" alt="">
				<span id="trustedNameOne"></span>
				<span id="trustedSymbolOne"></span>
			</div>
			<div class="trustedContainer trustedOneContainer">
				<span>2</span>
				<img id="trustedIconTwo" src="" alt="">
				<span id="trustedNameTwo"></span>
				<span id="trustedSymbolTwo"></span>
			</div>
			<div class="trustedContainer trustedOneContainer">
				<span>3</span>
				<img id="trustedIconThree" src="" alt="">
				<span id="trustedNameThree"></span>
				<span id="trustedSymbolThree"></span>
			</div>

		</div>
	</section>

	<section class="activeCurrenciesContainer">
		<h3 class="activeCurrencies">Current Active Currencies:</h3>
		<span id="activeCurrencyCount" class="activeCurrencies"></span>
	</section>


	<section class="tableContainer">
		<table class="myTable table is-narrow is-hoverable table table-sortable" id="leaderboard">
			<thead>
				<tr class="tableHeading">
					<th class="tableHead symb">Symb</th>
					<th class="tableHead name">Currency</th>
					<th class="tableHead price">Price(CAD)</th>
					<th class="tableHead marketCap">Market Cap(CAD)</th>
					<th class="tableHead circSupply">Circulating Supply</th>
					<th class="tableHead volume">24h Volume(CAD)</th>
					<th class="tableHead percentageChange24Hour">24h %</th>
				</tr>
			</thead>
			<tbody id="cryptocurrencies">

			</tbody>
		</table>
	</section>

	<button class="addCoins">Add coins</button>
	
	<script type="module" src="js/main.js"></script>
	<script src="js/tablesort.js"></script>
</body>

</html>