<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>

    <div class="loginContainer">
        <div class="signupContainer">
            <div class="goBack">
            <a href="/" class="goBackArrow"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h1 class="loginHeading">Log in to Clearcoin</h1>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form id="loginForm" action="/login" method="POST">
        <input class="loginTextInput" type="email" name="email" placeholder="Email">
        <input class="loginTextInput" type="password" name="password" placeholder="Password">
        <input id="submitLoginBtn" value="Log in"type="submit">
    </form>

</div>
</body>
</html>