<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	
    <title>Document</title>
</head>
<body>
    <header>

		<div class="headerItemContainer">
			<a href="#">
				<h1>ClearCoin</h1>
			</a>
			<div class="nav-button-container">
				<a href="/" class="signInBtn">Home</a>
				<a href="/portfolio" class="signInBtn">Portfolio</a>
				<a href="#" class="signInBtn">Sign In</a>
			</div>
		</div>
	</header>

    <div class="newsContainer">
        <div class="newsSquare">
            <h3 class="newsHeading">Test</h3>
            <img src="" alt="newsImg">
        </div>
    </div>



</body>
<script src="js/news.js"></script>
</html>