<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/tablesort.css">
	<title>Portfolio</title>
</head>
<body>
	
	<div style="height:40px; padding:0px; margin:0px; width: 100%;"><iframe
		src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover="
		width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0"
		style="border:0;margin:0;padding:0;"></iframe></div>



<%- include("partials/header") -%>


<div class="dropdown">
	<button onclick="myFunction()" class="dropbtn">Dropdown</button>
	<div id="myDropdown" class="dropdown-content">
	  <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
	  <% for(let i = 0; i < currencies.length; i++) { %>
		<a id="<%= currencies[i].symbol %>" class="listItems"><%= currencies[i].name %></a>
		<% } %>
	</div>
  </div>






	<div class="isNotBlurred addQtyModal">
		<div class="modalItemContainer">
			<div class="modalCloseBtnContainer">
				<button id="closeModalBtn">X</button>
			</div>
			<h2>Please enter Quantity</h2>
			<div class="addQtyModalInputContainer">
				<input id="numberInput" type="number" placeholder="0">
				<button id="submitModalBtn">Add to Portfolio</button>
			</div>
		</div>
	</div>






	<div id="portfolioItems" onclick="" class="personalItemsContainer">


		<div class="portfolioCoinContainer">
			<!-- <input id="coinSearch" type="search">
		<input id="testBtn" type="submit"> -->
			<!-- <div class="portfolioCoinList">
		</div> -->


			<!-- <div class="portfolioTableContainer">
				<h3 class="noAssetsMsg visible">No current assets</h3>
				<h3 class="portfolioBalance"></h3>
				<table class="portfolioAssetsTable">
					<thead class="portfolioAssetsHeadings">
						<tr>
							<th class="portfolioTh">Symb</th>
							<th class="portfolioTh">Name</th>
							<th class="portfolioTh">Price</th>
							<th class="portfolioTh">QTY</th>
							<th class="portfolioTh">Add</th>
							<th class="portfolioTh">Delete</th>
						</tr>
					</thead>
					<tbody class="portfolioAssetsTableBody">
					</tbody>
				</table>
			</div> -->

			<span id="counter_span"></span>
		</div>
	</div>

	<div class="chartContainer">
		<h3 id="chartHeading">Your portfolio currency weights</h3>
		<div id="chart">

		</div>
	</div>




</section>


<footer class="footerContainer">
	<div class="footerLogoContainer">
		<h3>ClearCoin Logo</h3>
		<h3 id="footerCopySymbol">&copy; 2022 ClearCoin</h3>
	</div>
	<div class="footerLinksContainer">
		<nav class="footerLinks">
			<h4>Featured</h4>
			<a href="/">Crypto prices</a>
			<a href="/portfolio">Portfolio</a>
			<a href="/signup">Sign Up</a>
			<a href="/about">About</a>
		</nav>
		<nav class="footerLinks">
			<h4>Socials</h4>
			<a href="https://www.instagram.com/jarrdojack/">Instagram</a>
			<a href="https://twitter.com/jarrodmjack">Twitter</a>
			<a href="https://github.com/jarrodmjack">Github</a>
			<a href="https://www.linkedin.com/in/jarrod-jack-65472822a/">LinkedIn</a>
			<a href="#">Facebook</a>
		</nav>
	</div>
</footer>







<!-- <script src="/js/portfolio.js"></script> -->
<script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script>
<script src="js/portfolio.js"></script>
<script src="js/tablesort.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>








</body>
</html>