<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">

	<title>Clear Coin</title>

	<!-- external CSS link -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/tablesort.css">
</head>

<body class="portfolioBody">



	

	<header id="headerContainer">
		<div class="headerItemContainer">
			<a href="#">
				<h1>ClearCoin</h1>
			</a>
			<div class="nav-button-container">
				<a href="/news" class="signInBtn">News</a>
				<a href="/" class="signInBtn">Home</a>
				<a href="#" class="signInBtn">Sign In</a>
			</div>
		</div>
	</header>


	<section class="portfolioContentContainer">
		<!-- <div class="addableCoinsContainer">
			<ul class="addableCoinsList">
				<% for(let i=0; i < coins.length; i++) { %>
					<li class="listItems">
						<%= `${coins[i].name} | ${coins[i].currentprice} | ${coins[i].id}` %>
					</li>
					<% } %>
			</ul>
		</div> -->


		<div id="dropContainer" class="dropdown">
			<h3 class="dropdownHeading">Add a currency to your portfolio</h3>
			<button id="dropdownBtn" class="dropbtn">Currencies</button>
			<div id="myDropdown" class="dropdown-content">
				<input type="text" placeholder="Search.." id="myInput">

				<% if (coins.length> 0){ %>
					<% for(let i=0; i < coins.length; i++) {%>
						<h3 class="listItems">
							<%= `${coins[i].name} | ${coins[i].currentprice} | ${coins[i].id}` %>
						</h3>
						<% } %>
							<% } else {%>
								<a href="" class="listItem">Data Not available</a>
								<% } %>
			</div>
			
		</div>
		<div class="isNotBlurred addQtyModal">
			<div class="modalItemContainer">
				<div class="modalCloseBtnContainer">
				<button id="closeModalBtn">X</button>
			</div>
				<h2>Please enter Quantity</h2>
				<div class="addQtyModalInputContainer">
					<input id="numberInput" type="number" placeholder="0">
					<button id="submitModalBtn">Add to Portfolio</button>
				</div>
			</div>
		</div>

		<!-- 
	<label for="ice-cream-choice">Currency</label>
	<input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" />
	<datalist id="ice-cream-flavors">
		<% for(let i=0; i < coins.length; i++) {%>
			<option class="listItems" value="<%= coins[i].name %>">
		<% } %>
	</datalist>
-->

		<div id="portfolioItems" onclick="" class="personalItemsContainer">
			<div id="chart">

			</div>

			<div class="portfolioCoinContainer">
				<!-- <input id="coinSearch" type="search">
			<input id="testBtn" type="submit"> -->
				<!-- <div class="portfolioCoinList">
			</div> -->
				

				<div class="portfolioTableContainer">
					<h3 class="noAssetsMsg visible">No current assets</h3>
					<h3 class="portfolioBalance"></h3>
					<table class="portfolioAssetsTable">
						<thead class="portfolioAssetsHeadings">
							<tr>
								<th class="portfolioTh">Symb</th>
								<th class="portfolioTh">Name</th>
								<th class="portfolioTh">Price</th>
								<th class="portfolioTh">QTY</th>
								<th class="portfolioTh">Add</th>
								<th class="portfolioTh">Delete</th>
							</tr>
						</thead>
						<tbody class="portfolioAssetsTableBody">
						</tbody>
					</table>
				</div>

				<span id="counter_span"></span>
			</div>
		</div>







	</section>

	<!-- <div class="dropdown">
	<button class="dropbtn">Dropdown</button>
	<div id="myDropdown" class="dropdown-content">
	  <input  type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
	  
	</div>
  </div>
 -->




	<!-- <h2>Left to do</h2>   -->

	<!-- <h2>Add A Todo:</h2> -->


	<!-- <form action="/addTodo" method="POST"> 
        <input type="text" placeholder="Quantity" name="todoItem">
        <input type="submit">
    </form> -->




	<!-- <script src="/js/portfolio.js"></script> -->
	<script type="module" src="/js/portfolio.js"></script>
	<script src="js/tablesort.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</body>

</html>