/* Box Model Hack */
* {
     box-sizing: border-box;
}

html {
     font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



body {
     font-family: 'Roboto', sans-serif;
     /* background-color: rgba(18,18,18,255); */

     background: rgb(34, 36, 48);
     background: linear-gradient(180deg, rgba(34, 36, 48, 1) 0%, rgba(23, 23, 26, 1) 100%);
     height: 100%;
     margin: 0;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

.visible{
     display: block;
}

a {
     color: white;
     text-decoration: none;
     font-size: 2rem;
}

h1 {
     padding: 0;
     margin: 0;
     font-size: 3rem;
     letter-spacing: 0.2rem;
     text-align: center;
     margin-left: 5rem;
}

h1:hover {
     color: lightgray;
}

h2 {
     color: lightgray;
}

span {
     color: white;
}

/* SCROLLBAR */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
     scrollbar-width: auto;
     scrollbar-color: #121212 #4a495f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
     width: 16px;
}

*::-webkit-scrollbar-track {
     background: #4a495f;
}

*::-webkit-scrollbar-thumb {
     background-color: #121212;
     border-radius: 10px;
     border: 3px solid #000000;
}



/* Triple section (trending, top movers, tbd) */

.tripleSectionAndGlobalCurrencyData {
     /* border: 1px solid red; */
     padding: 2rem 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
}

#globalDataUpdateTime {
     text-indent: 10px;
     color: #767474;
}

.tripleWrapper {
     /* border: 2px solid rgb(45, 193, 45); */
}

.globalCurrencyDataContainer {
     /* border: 1px solid cyan; */
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: flex-start;
}

.globalCurrencyDataContainer h2 {
     font-size: 30px;
}

.globalCurrencyDataContainer p {
     color: white;
     font-size: 18px;
}


.tripleWrapper {
     /* padding-top: 10rem; */
     display: flex;
     justify-content: center;
     gap: 5rem;
     margin-bottom: 2rem;
}

h2.trendingTitle,
h2.trustedTitle {
     font-size: 1rem;
     text-align: center;
     color: rgb(9, 254, 99);
}

/* .trustedHeading,
.trendingHeading{
     font-size: 14px;
} */


.tripleContainers {
     height: 175px;
     width: 350px;
     padding: 2rem;
     border: 10px solid rgb(10, 19, 21);
     outline: 1px solid rgb(95, 160, 160);
     border-radius: 10px;
     gap: 15px;
     display: flex;
     flex-direction: column;
     font-size: 14px;
}

div.tripleContainers .trendingContainer,
div.tripleContainers .trustedContainer {
     font-size: 14px;
}

.trendingContainer,
.trustedContainer {
     display: flex;
     gap: 30px;
     font-size: 2rem;
     /* justify-content: space-around; */
     /* border: 1px solid red; */
}

#trustedIconOne,
#trustedIconTwo,
#trustedIconThree {
     height: 25px;
     width: 25px;
}



/* Active currencies section */

.activeCurrenciesContainer {
     margin: 0 auto;
     width: 500px;
     height: 150px;
     border: 10px solid rgb(10, 19, 21);
     outline: 1px solid rgb(95, 160, 160);
     border-radius: 10px;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}

h3.activeCurrencies,
span.activeCurrencies {
     color: white;
     font-size: 3rem;
     color: rgb(9, 254, 99);
}

#activeCurrencyCount {
     color: white;
}

/* 
h3.activeCurrencies {
     font-size: 3rem;
     color: white;
     text-align: center;
} */

/* span.activeCurrencies{
     font-size: 3rem;
     color: white;
     text-align: center;
} */




/* Table  */
tr {
     border-bottom: 1px solid rgb(181, 178, 178);
     border-top: 1px solid rgb(181, 178, 178);
     height: 50px;

}

th.price:hover {
     cursor: pointer;

}



table {
     margin: 0 auto;
     width: 1200px;
     display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table,
th,
td,
tr {
     vertical-align: middle;
     color: rgb(194, 192, 192);
     width: 1300px;

}



table,
th,
td {
     font-size: 1.7rem;
}




.tableHeading {
     text-align: left;
     height: 75px;

}

tbody tr:nth-child(odd) {
     background-color: #272938;
     color: #fff;
}

tr:hover,
tbody tr:nth-child(odd):hover {
     background-color: rgb(34, 53, 58);
     color: white;
}

.tableHead {
     font-weight: bold;
     color: rgb(251, 251, 251);
}

.tableContainer {
     padding-top: 5rem;
     /* height: 1000px; */
     display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.tableSymbol {
     height: 30px;
     width: 30px;

}



/* header */



.logoContainer {
     display: flex;
     flex-direction: column;
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
     color: white;
     background-color: rgb(23, 24, 25);
}

.headerItemContainer {
     margin: 0 auto;
     width: 1400px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.signInBtn {
     margin-right: 5rem;
     /* border: 3px solid white; */
     padding: 1rem;
     display: block;
     border-radius: 12px;
}

.signInBtn:hover {
     /* color: black; */
     text-decoration: underline;
     /* background-color: white; */
     /* border-color: rgb(10, 102, 251); */
}


.nav-button-container {
     display: flex;
}

.fa-bars{
     font-size: 30px;
     display: none;
}



/* table */





/* PORTFOLIO */
/* ************************************************* */

.modalCover {
     width: 100vw;
     height: 100vh;
     background-color: black;
}

.portfolioCoinItem {
     color: white;
     font-size: 14px;
     margin-bottom: 10px;
}

.portfolioCoinContainer {
     color: white;
     width: 400px;
     /* height: 400px; */
     /* border: 1px solid red; */
}

.addableCoinsContainer {
     border: 1px solid green;
}


.portfolioContentContainer {
     padding: 10rem 1rem;
     display: flex;
     justify-content: space-around;
}

.personalItemsContainer {
     display: flex;
     flex-direction: column;
}



/* quantity modal for portfolio */

.addQtyModal {
     z-index: 2;
     background-color: rgb(236, 230, 225);
     width: 300px;
     height: 200px;
     background-color: #17161b;
     border-radius: 12px;
     color: #fef2e2;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     -webkit-box-shadow: 0px 0px 32px 5px rgba(0, 0, 0, 0.58);
     box-shadow: 0px 0px 32px 5px rgba(0, 0, 0, 0.58);
     position: absolute;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     text-align: center;
     top: 200px;
}

.modalCloseBtnContainer {
     align-self: flex-end;
}

.modalItemContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     /* border: 1px solid green; */
     gap: 12px;
}

#closeModalBtn {
     color: black;
     background-color: white;
     padding: 1rem;
}

#closeModalBtn:hover {
     background-color: rgb(174, 171, 171);
}

#numberInput {
     border: none;
     outline: 2px solid rgb(128, 130, 128);
     border-radius: 5px;
     height: 40px;
     width: 100px;
     font-size: 25px;
}

#numberInput:hover {
     outline: 1px solid cyan;
     border-radius: 5px;
}

#numberInput:focus {
     outline: 2px solid rgb(45, 179, 184);
     border-radius: 5px;
}

.addQtyModal button {
     background-color: #3648d6;
     color: white;
     font-weight: bold;
     padding: 1.5rem 2rem;
     border: none;
     border-radius: 10px;

}

.addQtyModal h2 {
     font-size: 20px;
     font-weight: bold;
}

.addQtyModal button:hover {
     cursor: pointer;
     background-color: #19246a;
}

.addQtyModal h2 {
     color: #f4f7f9;
}

.addQtyModalInputContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 12px;
}


#counter_span {
     color: white;
     font-size: 30px;
}


.isBlurred {
     filter: blur(2px);
     -webkit-filter: blur(2px);
     transition: .3s ease-in-out;
}

.isNotBlurred {
     filter: none;
     -webkit-filter: none;
}


/* dropdown search menu */

.dropdownHeading {
     color: white;
     font-size: 20px;
}

.dropDownAndConverterContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
}

.dropbtn {
     background-color: #3648d6;
     color: white;
     padding: 16px;
     font-size: 16px;
     width: 100%;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     transition: ease .3s;
}

.dropbtn:hover,
.dropbtn:focus {
     background-color: #2868a0;
}

#myInput {
     box-sizing: border-box;
     /* background-image: url('searchicon.png'); */
     background-position: 14px 12px;
     background-repeat: no-repeat;
     font-size: 16px;
     padding: 14px 20px 12px 45px;
     border: none;
     /* border-bottom: 1px solid #ddd; */
     outline: none;
     width: 100%;
     background-color: rgb(48, 58, 70);
     color: white;
}

#myInput:focus {
     /* outline: 3px solid #ddd; */
}

.dropdown {
     position: relative;
     display: inline-block;
     height: 400px;
     width: 300px;
     overflow: auto;
}

.dropdown-content {
     display: none;
     position: absolute;
     background-color: #26303b;
     color: white;
     min-width: 230px;
     overflow: auto;
     /* border: 1px solid #ddd; */
     z-index: 1;
}

.dropdown-content h3 {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 16px;
}

.dropdown h3:hover {
     background-color: #ddd;
}

h3.listItems {
     color: white;
}

.show {
     display: block;
}



/* portfolio general styles */


/* Personal assets table */


.portfolioCoinContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
}

.portfolioListItem {
     border: 1px solid gray;
}

.portfolioItems {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.portfolioAssetsTable {
     width: 500px;
     height: 300px;
}

.portfolioTh {
     padding: 5px;
}

.portfolioAssetsTable td {
     padding: 5px;
}

.portfolioAssetsHeadings {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #4f648d;
     color: white;
}


.noAssetsMsg {
     color: white;
     font-size: 30px;
}

.visible {
     display: block;
}


.portfolioBalance {
     color: white;
     font-size: 24px;
}



/* Chart container */



#chart {
     padding: 0;
}



span.apexcharts-legend-text {
     color: white !important;
}

.chartContainer {
     /* border: 1px solid red; */
     display: flex;
     flex-direction: column;
     gap: 20px;
}

#chartHeading {
     /* text-align: center; */
     font-size: 20px;
     color: #a5adb8;
}


/*  NEWS STYLING */


.newsIntro {
     text-align: center;
     padding: 5rem 8rem;
}

#newsIntroHeading {
     font-size: 30px;
     font-weight: bold;
     color: rgb(70, 221, 244);
}



.newsContainer {
     display: flex;
     flex-direction: column;
     gap: 50px;
}

.newsSquare {
     /* border: 1px solid red; */
     display: flex;
     gap: 25px;
     /* width: 800px; */
     align-items: center;
     width: 900px;
     margin: 0 auto;
}

.newsSquare:hover {
     opacity: .7;
}

.newsThumbImg {
     width: 125px;
     height: 125px;
}

.newsTextContentContainer {
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.newsUrl {
     width: 100%;
}

.newsHeading {
     font-size: 28px;
     font-weight: bold;
}

.newsDescription {
     font-size: 20px;
}



#newsProvider {
     color: rgb(192, 189, 189);
     font-size: 14px;
}


/* CRYPTO CONVERTER WIDGET */

#cryptoConverterWidget {
     width: 300px !important;
     /* height: px !important; */
}

.converterContainer {
     justify-content: center;
     align-items: center;
}


.aboutContainer{
     /* height: 100vh;
    width: 100%;
    background-image: url('/assets/shutterstock_1211178508-e1547829423934.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid cyan; */
    margin-top: 100px;
}

.aboutChartImg{
     width: 800px;
     height: 450px;
     -webkit-box-shadow: 0px 0px 29px 2px rgba(184,253,255,0.81); 
     box-shadow: 0px 0px 29px 2px rgba(184,253,255,0.81);
}

#aboutHeading{
     color: white;
     font-size: 40px;
     margin: 0;
}

.aboutContentContainer{
     width: 800px;
     height: 500px;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* border: 1px solid red; */
     justify-content: space-around;
}

.aboutContentContainer p{
     font-size: 17px;
     line-height: 26px;
}

/* 
#aboutBanner{
     height: 100%;
     width: 100%;
} */


/* Hamburger menu */

/* #hamburgerContainer{
     display: flex;
} */

.closedHamburger{
     display: none;
}

.hamburgerMenuNav{
     display: flex;
     flex-direction: column;
     height: 100px;
     width: 400px;
     background-color: cyan;
}

.hamburgerMenuNav a{
     color: black;
     font-size: 20px;
}




/* ************MEDIA QUERIES*********** */


/* Home page */

@media all and (max-width: 1164px){
     section.tripleWrapper{
          flex-wrap: wrap;
     }

     *{
          margin: 0;
     }
}



@media all and (max-width: 980px){
     section.tripleWrapper{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     .fa-bars{
          display: block;
          margin-right: 5rem;
     }

     .nav-button-container{
          display: none;
     }

     .headerItemContainer{
          justify-content: space-between;
     }

     table,
     th,
     td,
     tr {
     vertical-align: middle;
     color: rgb(194, 192, 192);
     /* width: 100%; */
     }

     .closedHamburger{
          display: block;
     }


}


/* TESTING HAM */

.invisible{
     display: none;
}

/* .hamburgerMenuNav{
     display: none;
} */