/* Box Model Hack */
* {
     box-sizing: border-box;
}

html {
     font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Roboto', sans-serif;
     /* background-color: rgba(18,18,18,255); */

     background: rgb(34, 36, 48);
     background: linear-gradient(180deg, rgba(34, 36, 48, 1) 0%, rgba(23, 23, 26, 1) 100%);

}

a {
     color: white;
     text-decoration: none;
     font-size: 2rem;
}

h1 {
     padding: 0;
     margin: 0;
     font-size: 3rem;
     letter-spacing: 0.2rem;
     text-align: center;
     margin-left: 5rem;
}

h1:hover {
     color: lightgray;
}

h2 {
     color: lightgray;
}

span {
     color: white;
}

/* Triple section (trending, top movers, tbd) */



.tripleWrapper {
     padding-top: 10rem;
     display: flex;
     justify-content: center;
     gap: 5rem;
     margin-bottom: 10rem;
}

h2.trendingTitle,
h2.trustedTitle {
     font-size: 2rem;
     text-align: center;
     color: rgb(9, 254, 99);

}

.tripleContainers {
     height: 250px;
     width: 400px;
     padding: 2rem;
     border: 10px solid rgb(10, 19, 21);
     outline: 1px solid rgb(95, 160, 160);
     border-radius: 10px;
     gap: 30px;
     display: flex;
     flex-direction: column;
}

.trendingContainer,
.trustedContainer {
     display: flex;
     gap: 30px;
     font-size: 2rem;
     /* justify-content: space-around; */
     /* border: 1px solid red; */
}

#trustedIconOne,
#trustedIconTwo,
#trustedIconThree {
     height: 25px;
     width: 25px;
}



/* Active currencies section */

.activeCurrenciesContainer {
     margin: 0 auto;
     width: 500px;
     height: 150px;
     border: 10px solid rgb(10, 19, 21);
     outline: 1px solid rgb(95, 160, 160);
     border-radius: 10px;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}

h3.activeCurrencies,
span.activeCurrencies {
     color: white;
     font-size: 3rem;
     color: rgb(9, 254, 99);
}

#activeCurrencyCount {
     color: white;
}

/* 
h3.activeCurrencies {
     font-size: 3rem;
     color: white;
     text-align: center;
} */

/* span.activeCurrencies{
     font-size: 3rem;
     color: white;
     text-align: center;
} */




/* Table  */
tr {
     border-bottom: 1px solid rgb(181, 178, 178);
     border-top: 1px solid rgb(181, 178, 178);
     height: 50px;
  
}

th.price:hover {
     cursor: pointer;

}



table {
     margin: 0 auto;
     width: 1200px;
}

table,
th,
td,
tr {
     vertical-align: middle;
     color: rgb(194, 192, 192);
     width: 1300px;

}



table,
th,
td {
     font-size: 1.7rem;
}




.tableHeading {
     text-align: left;
     height: 75px;

}

tr:hover {
     background-color: rgb(77, 80, 101);
     color: white;
}

.tableHead {
     font-weight: bold;
     color: rgb(251, 251, 251);
}

.tableContainer {
     padding-top: 10rem;
     height: 1000px;
}

.tableSymbol {
     height: 30px;
     width: 30px;
    
}



/* header */



.logoContainer {
     display: flex;
     flex-direction: column;
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
     color: white;
     background-color: rgb(23, 24, 25);
}

.headerItemContainer {
     margin: 0 auto;
     width: 1400px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.signInBtn {
     margin-right: 5rem;
     border: 3px solid white;
     padding: 1.25rem 2rem 1.25rem 2rem;
     display: block;
     border-radius: 12px;
}

.signInBtn:hover {
     color: black;
     background-color: white;
     /* border-color: rgb(10, 102, 251); */
}


.nav-button-container {
     display: flex;
}



/* table */





/* PORTFOLIO */
/* ************************************************* */



.portfolioCoinItem {
     color: white;
     font-size: 14px;
     margin-bottom: 10px;
}

.portfolioCoinContainer {
     color: white;
     width: 400px;
     /* height: 400px; */
     /* border: 1px solid red; */
}

.addableCoinsContainer {
     border: 1px solid green;
}


.portfolioContentContainer {
     display: flex;
     justify-content: space-around;
}

.personalItemsContainer {
     display: flex;
     flex-direction: column;
}



/* quantity modal for portfolio */

.addQtyModal{
     background-color: rgb(236, 230, 225);
     width: 300px;
     height: 200px;
     background-color: #19191c;
     /* border: 2px solid cyan; */
     border-radius: 10px;
     color: #f4f7f9;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     -webkit-box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.58); 
     box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.58);
}

.modalCloseBtnContainer{
     align-self: flex-end;
}

.modalItemContainer{
     display: flex;
     flex-direction: column;
     align-items: center;
     /* border: 1px solid green; */
     gap: 12px;
}

#closeModalBtn{
    color: black;
    background-color: white;
}

#numberInput{
     border: none;
     outline: 2px solid rgb(128, 130, 128);
     border-radius: 5px;
     height: 40px;
     width: 100px;
     font-size: 25px;
}

#numberInput:hover{
      outline: 1px solid cyan;
      border-radius: 5px;
}

#numberInput:focus{
     outline: 2px solid rgb(45, 179, 184);
     border-radius: 5px;
}

.addQtyModal button {
     background-color: #41a5b6;
     color: white;
     font-weight: bold;
     padding: 1rem;
     border: none;
     border-radius: 10px;
}

.addQtyModal h2 {
     font-size: 20px;
     font-weight: bold;
}

.addQtyModal button:hover{
     cursor: pointer;
     background-color: #2868a0;
}

.addQtyModal h2 {
     color: #f4f7f9;
}

.addQtyModalInputContainer{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 12px;
}


#counter_span{
     color: white;
     font-size: 30px;
}






/* dropdown search menu */

.dropdownHeading{
     color: white;
     font-size: 20px;
}

.dropbtn {
     background-color: #2285a3;
     color: white;
     padding: 16px;
     font-size: 16px;
     width: 100%;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     transition: ease .3s;
   }
   
   .dropbtn:hover, .dropbtn:focus {
     background-color: #2868a0;
   }
   
   #myInput {
     box-sizing: border-box;
     /* background-image: url('searchicon.png'); */
     background-position: 14px 12px;
     background-repeat: no-repeat;
     font-size: 16px;
     padding: 14px 20px 12px 45px;
     border: none;
     border-bottom: 1px solid #ddd;
   }
   
   #myInput:focus {outline: 3px solid #ddd;}
   
   .dropdown {
     position: relative;
     display: inline-block;
     height: 400px;
     width: 300px;
   overflow: auto;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f6f6f6;
     min-width: 230px;
     overflow: auto;
     border: 1px solid #ddd;
     z-index: 1;
   }
   
   .dropdown-content h3 {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 16px;
   }
   
   .dropdown h3:hover {background-color: #ddd;}
   
   .show {display: block;}


   



/* Personal assets table */


.portfolioCoinContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
}

.portfolioListItem {
     border: 1px solid gray;
}


.portfolioAssetsTable {
     width: 500px;
     height: 300px;
}

.portfolioTh{
     padding: 5px;
}

.portfolioAssetsTable td{
     padding: 5px;
}

.portfolioAssetsHeadings {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #04AA6D;
     color: white;
}


.noAssetsMsg{
     color: white;
     font-size: 30px;
}

.visible{
     display: none;
}


.portfolioBalance{
     color: white;
     font-size: 24px;
}


/* Chart container */


